body{
	margin: 0px;
	padding: 0px;
	font-family: '',calibri;
	
}

header{
	height: 100px;
	background-color: #C9C9C9;
	border:1px solid black;
}

#h{
	margin: 0px;
	padding: 20px;
	font-size: 50px;
	text-align: center;
	font-weight: normal;

}

nav{
	width: 100%;
	height: 60px;
	background-color: #04455A;
	border-bottom: 3px solid #2DA4CA;
}

/*liste du menu nav*/
nav ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/*Enlever les puces + affichage cote a cote des li dans le menu*/
nav li{
	list-style-type: none;
	float: left;
}


/*Elements a du nav (onglets)*/
nav a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 30px;
	color: #5BE8CA;
	font-size: 15px;
	font-weight: bold;
}

/*Survol de la souris sur les elements du menu*/
.btn:hover{
	border: 1px solid #3284DC;
	background-color: #175495;
}

/*Eviter le deplacement du texte lors du survol de la souris*/
nav li:hover a{
	padding: 20px 27px;
}

.table{
	display: table;
	margin: 0 auto;
}



#bvn{
	color: black;
	width: 180px;
	border:2px solid black;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	text-align: center;
}

#insc{
	text-decoration: underline;
	text-align: center;
}

.inscription {
	position: absolute;
	top: 250px;
	left: 500px;
}

#bouton{
	height: 30px;
	
}

